# Experiment 2: Retriever-only, Top-k=1, BGE-M3 (Dense) only
retriever:
  embedder:
    model: "AITeamVN/Vietnamese_Embedding"
    chunk_size: 512
    overlap: 64
    device: "cuda"
    batch_size: 32

  models:
    bm25:
      enabled: false
    tfidf:
      enabled: false
    sentencebert:
      enabled: true
      model: "AITeamVN/Vietnamese_Embedding"
      chroma_db_path: "/kaggle/input/chroma-db-retriever/chroma_db_retriever"
      collection_name: "retriever_legal_articles"

  mode: "dense"
  top_k: 1

reranker:
  embedder:
    model: "AITeamVN/Vietnamese_Embedding"
    chunk_size: 2048
    overlap: 128
    device: "cuda"
    batch_size: 32
    chroma_db_path: "/kaggle/input/chroma-db-reranker/chroma_db_reranker"
    collection_name: "reranker_legal_articles"

  models:
    gte:
      enabled: false
    bge_v2:
      enabled: false
    jina:
      enabled: false

  ensemble:
    enabled: false

  top_k: 1

  qwen:
    enabled: false

pipeline:
  data:
    legal_corpus_path: "/kaggle/input/vlqa-dataset/legal_corpus.json"
    test_path: "/kaggle/input/test-vlqa/public_test.json"

  indexes:
    chroma_db_retriever_path: "/kaggle/input/chroma-db-retriever/chroma_db_retriever"
    chroma_db_reranker_path: "/kaggle/input/chroma-db-reranker/chroma_db_reranker"
    bm25_index_path: "/kaggle/input/bm25-index/bm25_index.pkl"
    tfidf_index_path: "./data/tfidf_index.pkl"

system:
  device: "cuda"
  num_workers: 4
  seed: 42